@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .message {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 20px;
    }
</style>
<div class="message">
    <h2>System encountered an error.</h2>
    <br /><br />
    <h3>Please contact IT Help Centre (helpdesk@smu.edu.sg) for assistance.</h3>
</div>

