<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="D:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="ErrorLogfile" fileName="Logs\Error_${shortdate}.log" layout="${longdate}|${message}" />
    <target xsi:type="File" name="DebugLogfile" fileName="Logs\Debug_${shortdate}.log" layout="${longdate}|${message}" />
    <target xsi:type="File" name="AccessLogfile" fileName="Logs\Access_${shortdate}.log" layout="${longdate}|${message}" />
  </targets>
  <rules>
    <logger name="ErrorLogger" minlevel="Error" writeTo="ErrorLogfile" />
    <logger name="DebugLogger" minlevel="Debug" writeTo="DebugLogfile" />
    <logger name="AccessLogger" minlevel="Info" writeTo="AccessLogfile" />
  </rules>
</nlog>
